<%= link_to("<< Back to list",subjects_path,:class=>'back-link')%>

<div class="Subjects edit">
  <h2 align='center'> UPDATE SUBJECT</h2><hr><br><br>
  <%= form_for(@subject) do |f| %>

  <%= render(:partial=>'form',:locals=>{:f=>f}) %>

    <div class="form-button">
      <%= f.submit("Update Subject") %>
    </div>
    <% end %>
</div>
