<%= link_to("<< Back to list",pages_path,:class=>'back-link')%>

<div class="Pages edit">
  <h2 align='center'> UPDATE PAGE</h2><hr><br><br>
  <%= form_for(@page) do |f| %>

  <%= render(:partial=>'form(page)',:locals=>{:f=>f}) %>

    <div class="form-button">
      <%= f.submit("Update Page") %>
    </div>
    <% end %>
</div>
