<%=link_to("<< Back To List",users_path,:class=>"Index Page") %>

<div class="Edit User">
  <h1 align='center'>USER</h1><hr>
  <%= form_for(@user) do |f|
      <%=render(:partial => 'form', locals: {:f => f}) %>
      <div class="form-button">
        <%= f.submit("Update User") %>
      </div>
  <% end %>
</div>
